{% extends "./base.html" %}
{% block main %}
  <div class="container">
    <div class="my-5">
      <div class="mb-5">
        <h3>글 쓰기</h3>
      </div>
      <div>
        <form action="" method="POST">
          {% csrf_token %}

          {% for field in form %}
            <div class="fieldWrapper m-2">
              {{ field.label_tag }}
              {{ field }}
              {% for error in field.errors %}
                <div id="content-help" class="form-text text-danger">{{ field.errors }}</div>
              {% endfor %}
            </div>
          {% endfor %}

          <div class="mb-3">
            <button type="submit" class="btn btn-primary" style="float:right;">글쓰기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
